<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/style.css">
    <title>{{title}}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 box-shadow-nav" style="height: 80px">
       <a class="navbar-brand" href="{{ url_for('index') }}">Покемоны</a>
   </nav>
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
           <form method="post">
                <div class="form-outline mb-4">
                    <input type="email" id="email" name="email" class="form-control" required placeholder="Введите почту"/>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" id="psw" name="psw" class="form-control" required placeholder="Введите новый пароль"/>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" id="psw2" name="psw2" class="form-control" required placeholder="Повторите пароль"/>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Сменить пароль</button>
            </form>
            <a href="{{ url_for('login') }}">Назад</a>
        </div>
    </div>

</body>
</html>